<section id="intro">
	<!-- Header -->
	<div class="intro-header">

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
				<!-- <div class="intro-image col-md-4"></div> -->
					<div class="intro-message">
						<h1>{{ .Site.Title }}</h1>
						<h3>{{ .Site.Params.description }}</h3>
						<hr class="intro-divider">

						<ul class="list-inline intro-social-buttons">
						{{ partial "social" . }}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
	<!-- /.intro-header -->
</section>
