<section id="main">

<!-- Page Content -->
{{ range $index, $element := where (.Site.RegularPages.ByParam "sec") "Section" "in" .Site.Params.mainSections }}
	{{ if modBool $index 2 }} 
    <div class="content-section-a">
    {{ else }}
    <div class="content-section-b">
    {{ end }}
   
        <div class="container">

            <div class="row">
                <div>
                    <!-- <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    -->
                    <h2 class="section-heading">{{ .Title }}</h2>
                    {{ replace .Content "<table>" "<table class='table table-striped table-hover'>" | safeHTML }}
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
{{ end }}

</section>
